<div class="berserkr chat-card get-better-card">
  <header class="card-header">
    <img src="icons/svg/upgrade.svg" alt="Get Better" />
    <h3>The Saga Grows</h3>
  </header>

  <div class="card-content">
    <p class="flavor-text">The gods have watched your deeds. You have grown stronger... or perhaps the world has just grown weaker.</p>
    
    <div class="improvement-title">
      IMPROVEMENT #{{improvementCount}}
    </div>

    <ul class="outcomes-list">
      {{#each outcomes}}
        <li class="outcome-item">
          {{{this}}}
        </li>
      {{/each}}
    </ul>
  </div>

  <footer class="card-footer">
    <div class="roll-total">NEW HP: {{newHp}}</div>
  </footer>
</div>
